@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');
@import "tailwindcss";

:root {
  --primary-color: #f48525;
  --secondary-color: #fcece0;
  --text-primary: #1c140d;
  --text-secondary: #756a64;
  --background-color: #fcfaf8;
  --border-color: #f4ede7;
}

html,body {
  height: 100%;
}

body {
  font-family: 'Work Sans', sans-serif;
  background: var(--background-color);
  color: var(--text-primary);
  min-height: 100vh;
}

.checkbox-custom {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.375rem;
  border-width: 2px;
  border-color: var(--border-color);
  background-color: transparent;
  transition: all 0.2s;
}

.checkbox-custom:checked {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
}
